/*------Esta primera parte aplica a todo el documento (navbar/footer) -------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 50px; }
  .navbar .brand-title {
    font-size: 2.5rem;
    margin: 20px;
    font-family: 'Noto Serif', serif;
    font-weight: 500; }
  .navbar .brand-title-a:visited, .navbar .brand-title-a:link, .navbar .brand-title-a:active {
    text-decoration: none;
    color: black; }
  .navbar .navbar-links ul {
    font-family: 'Noto Serif', serif;
    font-weight: 500;
    display: flex; }
  .navbar .navbar-links li {
    list-style: none; }
    .navbar .navbar-links li:hover {
      background-color: #e0e0e0; }
  .navbar .navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block; }

.dropdown {
  display: none; }

/*footer*/
.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  color: white;
  align-items: center; }
  .footer .socialmedia-buttons {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: right;
    align-items: center;
    justify-content: space-around; }
  .footer .facebook, .footer .instagram, .footer .whatsapp {
    height: 25px; }
  .footer .contact-me ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none; }
  .footer .contact-me li {
    font-size: small;
    padding: 1rem;
    color: black;
    display: block;
    font-family: 'Noto Serif', serif; }
  .footer .contact-me-contenedor {
    background-color: beige; }

/*---------------------------------index-----------------------------------------*/
/*cuerpo*/
.titulo-inicio {
  text-align: center;
  font-size: 100px;
  font-family: 'Questrial', sans-serif;
  padding-top: 50px;
  font-weight: 400; }

.cuerpo-inicio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: center; }
  .cuerpo-inicio .imagen-indice-contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
    grid-column: span 3;
    width: 90%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    border: black 2px solid; }
  .cuerpo-inicio .imagen-indice {
    width: 100%;
    padding: 20px;
    border-radius: 30px; }
  .cuerpo-inicio .imagen-acerca-de-mi {
    display: flex;
    width: 23vw;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: 20px;
    margin-bottom: 150px;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000; }
  .cuerpo-inicio .imagen-acerca-de-mi img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-top: 150px;
    cursor: pointer;
    transition: .5s ease-in-out;
    border: 2px #292E49 solid; }
  .cuerpo-inicio .imagen-acerca-de-mi:hover img {
    transform: scale(1.25); }
  .cuerpo-inicio .acerca-de-mi-texto {
    height: 400px;
    border-radius: 30px;
    width: 56vw;
    grid-column: span 2;
    margin-bottom: 150px;
    border-top: 2px solid black;
    border-right: 2px solid black; }
  .cuerpo-inicio .titulo-indice {
    text-align: left;
    font-family: 'Questrial', sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
    padding: 30px;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e74c3c, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e74c3c, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent; }
  .cuerpo-inicio .parrafo-indice {
    font-size: 1.1vw;
    font-family: 'Questrial', sans-serif;
    text-align: justify;
    padding: 30px; }

@media screen and (max-width: 1500px) {
  .parrafo-indice {
    font-size: 1.3vw; } }

@media screen and (max-width: 1200px) {
  .titulo-inicio {
    font-size: 6vw; }
  .cuerpo-inicio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2); }
  .imagen-acerca-de-mi {
    display: none; }
  .acerca-de-mi-texto {
    padding: 60px;
    height: auto;
    width: 90%; }
  .titulo-indice {
    text-align: center;
    font-size: 5vw; }
  .parrafo-indice {
    font-size: 3vw; } }

@media screen and (max-width: 600px) {
  .cuerpo-inicio {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto; }
  .navbar-links li {
    display: none; }
  .titulo-inicio {
    font-size: 7vw;
    margin-bottom: 100px; }
  .titulo-indice {
    text-align: center;
    font-size: 10vw; }
  .parrafo-indice {
    font-size: 4vw;
    padding-top: 50px; }
  .dropdown {
    display: block;
    padding-right: 20px;
    color: black; }
  .imagen-indice-contenedor {
    display: none; }
  .imagen-acerca-de-mi {
    display: flex;
    width: 90%; }
  .imagen-acerca-de-mi img {
    width: 50%;
    height: auto; }
  .acerca-de-mi-texto {
    padding: 0; }
  .contact-me li {
    font-size: xx-small; }
  .texto-about-me2 {
    padding-left: 0; } }

/* ------------------------------------------------- ABOUT ME ------------------------------------------------------------------------- */
/*cuerpo*/
.titulo-acerca-de-mi {
  text-align: center;
  font-size: 100px;
  font-family: 'Questrial', sans-serif;
  padding-top: 50px;
  font-weight: 400; }

.cuerpo-acerca-de-mi {
  width: 100%;
  display: flex;
  justify-content: center; }

.cuerpo-about-me {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2);
  justify-content: center;
  width: 90%;
  justify-items: center; }

.titulo1 {
  text-align: right;
  font-size: 70px;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  padding: 20px; }

.texto-about-me1 {
  grid-column: span 2;
  padding: 20px;
  border: 2px black solid;
  height: 450px;
  border-radius: 20px; }

.texto-about-me2 {
  grid-column: span 2;
  height: 450px;
  border: black 2px solid;
  border-radius: 20px;
  margin-left: 35px;
  margin-top: 50px; }

.titulo2 {
  text-align: left;
  font-size: 70px;
  font-family: 'Questrial', sans-serif;
  font-weight: 400; }

.parrafo1 {
  padding-top: 50px;
  text-justify: justify;
  font-size: 1.4vw;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  text-align: justify; }

.image-about-me1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  border-radius: 20px;
  border: black 2px solid;
  width: 25vw; }

.image-about-me2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  border-radius: 20px;
  border: black 2px solid;
  width: 25vw;
  margin-left: 45px;
  margin-top: 50px; }

.image-about-me1 img {
  height: 350px;
  border-radius: 10px; }

.image-about-me2 img {
  height: 350px;
  border-radius: 10px; }

.parrafo2 {
  padding: 20px;
  text-justify: justify;
  font-size: 1.5vw;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  text-align: justify; }

@media screen and (max-width: 1200px) {
  .parrafo1 {
    font-size: 2vw;
    padding-left: 20px; }
  .parrafo2 {
    font-size: 2vw;
    padding-right: 20px; } }

@media screen and (max-width: 900px) {
  .titulo-acerca-de-mi {
    font-size: 70px; }
  .titulo1 {
    font-size: 45px; }
  .titulo2 {
    font-size: 45px; }
  .parrafo1 {
    font-size: 2.3vw; }
  .parrafo2 {
    font-size: 2.3vw; } }

@media screen and (max-width: 650px) {
  .cuerpo-about-me {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    padding-top: 0px; }
  .titulo-acerca-de-mi {
    font-size: 50px;
    padding-bottom: 20px; }
  .image-about-me1 {
    height: 300px; }
  .image-about-me2 {
    margin-bottom: 200px;
    height: 300px; }
  .navbar-links ul {
    display: none; }
  .texto-about-me1 {
    width: 100%;
    margin-top: 100px;
    padding-right: 0; }
  .titulo1 {
    text-align: center;
    font-size: 40px;
    padding: 30px; }
  .titulo2 {
    text-align: center;
    font-size: 40px;
    padding: 30px; }
  .dropdown {
    display: block;
    padding-right: 20px;
    color: black; }
  .contact-me li {
    font-size: xx-small; }
  .parrafo1 {
    font-size: 3vw;
    padding: 30px; }
  .parrafo2 {
    font-size: 3vw;
    padding: 30px; } }

/* ------------------------------------------------- GALERIA ------------------------------------------------------------------------- */
/* cuerpo */
.titulo-galeria {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 100px;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 50px; }

.cuerpo-galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  row-gap: 100px;
  padding-bottom: 100px; }
  .cuerpo-galeria .imagen-galeria-div {
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px; }
  .cuerpo-galeria .imagen-galeria-div img {
    justify-items: center;
    border-radius: 8px;
    height: 100%;
    cursor: pointer;
    transition: .5s ease-in-out; }
  .cuerpo-galeria .imagen-galeria-div:hover img {
    transform: scale(1.25); }

@media screen and (max-width: 1200px) {
  .cuerpo-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    row-gap: 100px;
    padding-bottom: 100px; } }

@media screen and (max-width: 900px) {
  .cuerpo-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    row-gap: 100px;
    padding-bottom: 100px; }
  .contact-me li {
    font-size: xx-small; } }

@media screen and (max-width: 600px) {
  .cuerpo-galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    row-gap: 100px;
    padding-bottom: 100px; }
  .navbar-links ul {
    display: none; }
  .dropdown {
    display: block;
    padding-right: 20px;
    color: black; } }

/* ------------------------------------------------- CONTACTAME ------------------------------------------------------------------------- */
/*cuerpo*/
.titulo-contactame {
  text-align: center;
  font-size: 100px;
  font-family: 'Questrial', sans-serif;
  padding-top: 50px;
  font-weight: 400; }

.cuerpo-contactame {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center; }

.contact-me-contenedor {
  background-color: #f8d9a0;
  height: 500px;
  border-radius: 10px;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center; }

.titulo-informacion {
  text-align: center;
  font-size: 50px;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  padding-bottom: 30px;
  padding-top: 30px; }

.field {
  width: 80%;
  padding: 20px;
  font-size: medium;
  font-family: 'Questrial', sans-serif;
  border-radius: 10px; }

.field2 {
  width: 80%;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: medium;
  font-family: 'Questrial', sans-serif;
  border-radius: 10px; }

.button {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  border-radius: 10px;
  width: 21%; }

@media screen and (max-width: 1200px) {
  .titulo-contactame {
    font-size: 70px; } }

@media screen and (max-width: 600px) {
  .titulo-informacion {
    font-size: 30px; }
  .titulo-contactame {
    font-size: 50px; }
  .navbar-links ul {
    display: none; }
  .dropdown {
    display: block;
    padding-right: 20px;
    color: black; } }

/* ------------------------------------------------- Diseno 1 ------------------------------------------------------------------------- */
.titulo-d1 {
  text-align: center;
  font-size: 100px;
  font-family: 'Questrial', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 400; }

.imagend1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.imagen-d1 img {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px; }

.titulo2-d1 {
  text-align: center;
  font-size: 100px;
  font-family: 'Questrial', sans-serif;
  padding-top: 50px;
  font-weight: 400; }

.parrafo-d1 {
  text-align: center;
  font-size: 2vw;
  font-family: 'Questrial', sans-serif;
  padding: 100px;
  text-align: justify; }

@media screen and (max-width: 1200px) {
  .titulo-d1 {
    font-size: 70px; }
  .titulo2-d1 {
    font-size: 70px; }
  .parrafo-d1 {
    font-size: 3vw; } }

@media screen and (max-width: 650px) {
  .imagen-d1 img {
    padding-left: 20px;
    padding-right: 20px; }
  .titulo-d1 {
    font-size: 50px; }
  .titulo2-d1 {
    font-size: 50px;
    padding-bottom: 20px; }
  .parrafo-d1 {
    font-size: 5vw;
    padding: 20px;
    margin-bottom: 50px; }
  .navbar-links ul {
    display: none; }
  .contact-me li {
    font-size: xx-small; }
  .dropdown {
    display: block;
    padding-right: 20px;
    color: black; } }

/* ------------------------------------------------- Diseno 2 ------------------------------------------------------------------------- */
#navbarboot {
  font-family: 'Questrial', sans-serif; }

#titulo1boot {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 400; }

#imagen1-boot {
  padding-left: 100px;
  padding-right: 100px; }

#titulo2boot {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 400; }

#titulo3boot {
  text-align: right;
  font-size: 2.3rem;
  font-family: 'Questrial', sans-serif;
  padding-bottom: 50px;
  font-weight: 400; }

#parrafo-boot {
  font-family: 'Questrial', sans-serif;
  text-align: justify;
  font-size: 2rem; }

#contenedor-boot {
  padding-bottom: 200px; }

@media screen and (max-width: 900px) {
  #parrafo-boot {
    font-size: 1.5rem; } }

@media screen and (max-width: 600px) {
  #imagen1-boot {
    padding: 0; }
  #imagen2-boot {
    padding-bottom: 100px; }
  #parrafo-boot {
    font-size: 2rem; }
  #titulo3boot {
    text-align: center;
    padding-bottom: 50px; } }
